<h1>Results for <%= @location.formatted_location %></h1>

<%= @location.weather_get %>
<!-- <h2>CURRENT</h2>
<% @location.now_weather.each do |data| %>
  <p><%= data[0] %>: <%= data[1] %></p>
<% end %>

<h2>TODAY</h2>
<p><%= DateTime.now.strftime('%A, %b %d, %Y') %></p>

<% @location.today_weather.each do |data| %>
  <p><%= data[0] %>: <%= data[1] %></p>
<% end %>

<h2>FUTURE</h2>
<p>NEXT 3 DAYS?</p>

<h2>PAST</h2>
<p>HISTORIC CHARTS LAST 20 YEARS OF WEATHER</p> -->
<!-- <%= @location.past_weather %> -->
