
<h2>Results for <%= @location.formatted_address %></h2>

<div class="full-container">
  <div class="row">
    <div class="col-8">
      <h4><%= @location.today_icon %></H4>
      <div>
        <p><%= DateTime.now.strftime('%A, %b %m, %Y') %></p>
      </div>
      <h4><%= @location.today_summary %></h4>
      <p><%= @location.today_details %></p>

    </div>

    <div class="col-4">
      <h4>Currently</h4>
      <p><%= @location.now_weather %></p>
    </div>
  </div>

  <div class="row">
    <% @location.future_weather.each do |day| %>
      <div class="col">
        <%= DateTime.strptime(day[0].to_s, '%s').strftime('%A') %>
        sum: <%= day[1] %>
        icon: <%= day[2] %>
        tempmax: <%= day[3] %>
      </div>
    <% end %>
  </div>
    <!-- </div>
    <div class="col">
      NEXTDAY
      NEXTICON
      HIGHTEMP
    </div>
    <div class="col">
      NEXTDAY
      NEXTICON
      HIGHTEMP
    </div>
  </div> -->

  CHART HERE
</div>
